body {
  background-color: black;
}
.entryscreen {
  background-color: #000000;
  background-image: url("newbg.jpg");
  background-size: 800px;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: top left;
  width: 640px;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-style: dashed;
  border-color: dimgrey;
  
}
/* keep in mind #1d86d1 when you're done with special background photo*/
.entryscreen >h1 {
  font-size: 30px;
  font-family: "Trebuchet MS";
  padding-left: 15px;
  color: #ffffff;
}
button {
  width: 200px;
  height: 50px;
  background-color: Transparent;
  background-image: url('enterbutton.png');
  background-size: cover;
  border: none;
  cursor: pointer;
  appearance: none;
}
button:hover {
  background-image: url("enterbutton_hover.png");
}