body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
.header {
    margin: auto;
    padding: 5px;
    background-color: #1d86d1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 800px;
    height: 100px;
    text-align: center;
    border-style: dashed;
    border-width: 3px;
  }
.navbar {
    width: 800px;
    height: 30px;
    background-color: #1d86d1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
    border-style: dashed;
    border-width: 3px;
    padding: 5px;
  }
.out_window {
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: #1d86d1;
    width: 800px;
    border-style: dashed;
    border-width: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.in_window {
    padding: 2px;
    background-color: white;
    padding: 5px;
  }
.in_window > h1 {
    font-size: 20px;
  }
.in_window > p {
    font-size: 12px;
  }
.spacer {
    background-image: url("spacer.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    width: 650px;
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding-left: 10px;
    line-height: 50px;
}
.blog_post {
    background-image: url("spacer.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    width: 650px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
    text-wrap: wrap;
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 3px;
}
.blog_post > h1 {
    line-height: 50px;
}
.blog_post > img {
    width: 300px;
    padding: 5px;
}